br {
    content: "A" !important;
    display: block !important;
    margin-bottom: 1em;
}

input {
    margin-left: 1em;
}

body {
 font-family: 'Neucha', cursive;
}

.fieldset {
    display: inline-block;
}

form {
    margin-bottom: 15px;
}

footer {
    font-size: 12px;
}

table {
    border: 2px solid red;
}

th, td {
    border: 1px solid black;
}

main {
   margin-bottom: 15px;
}

.removeButton {
    display: block;
    margin: auto;
}